/*
Form Name: Kiwis
Form URI: https://github.com/uxglow/gravity-forms/blob/master/kiwis/1.0/kiwis.css
Author: UX Glow
Author URI: http://uxglow.com/
Description: __desc__
Version: 1.0
Tags: Gravity Forms, kiwis
*/





.gform_wrapper *, 
.gform_wrapper *::after, 
.gform_wrapper *::before {
    box-sizing: border-box  !important;
}
div.gform_wrapper {
	box-shadow: 0 0 2px rgba(124, 117, 89, 0.8);
	background-color:#2E3740;
    margin: 0;
    padding: 0;
    width: 100%;
}
div.gform_wrapper form {
	background:transparent;
	margin:0;
	width: 100%;
	display:table;	
}
/* 
	nth-child(1) = gform_heading
	nth-child(2) = gform_body
	nth-child(3) = gform_footer
*/
div.gform_wrapper form > div:nth-child(1),
div.gform_wrapper form > div:nth-child(2),
div.gform_wrapper form > div:nth-child(3){
	padding: 20px;
	margin:0;
	width: 100%;
	float:left;
	display:block;
}
div.gform_wrapper form > div:nth-child(2),
div.gform_wrapper form > div:nth-child(3){
	padding: 0 20px;
}
div.gform_wrapper form div:nth-child(1){
	background-color:transparent;
	margin-bottom: 0px;
}
div.gform_wrapper form > div:nth-child(1) h1,
div.gform_wrapper form > div:nth-child(1) h2,
div.gform_wrapper form > div:nth-child(1) h3,
div.gform_wrapper form > div:nth-child(1) h4{
	color:#fff;	
}
div.gform_wrapper form > div:nth-child(1) span{
	color:#fff;
	margin:0;
}
div.gform_wrapper .gform_body{}
.gform_wrapper ul.gform_fields li.gfield{
	padding-right:0;
	margin: 20px 0;	
}
.gform_wrapper ul.gform_fields li.gsection{
	border-bottom: 2px solid #fff;
	padding-bottom: 0;	
}
.gform_wrapper ul.gform_fields li.gfield h2.gsection_title{
	background-color: transparent;
    color: #fff;
    display: block;
    font-size: 16px;
	line-height: 24px;
    width: 100%;
	position:relative;
}
div.gform_wrapper .description, 
div.gform_wrapper ul.gform_fields li.gfield .gsection_description, 
div.gform_wrapper .instruction,
div.gform_wrapper ul.gform_fields li.gfield .gfield_description{
	color:#6d7781;
	font-size: 12px;	
}
.gform_wrapper ul.gform_fields li.gfield label.gfield_label{
	color: #6d7781;
	font-weight: normal;
	font-size:14px;	
}
.gform_wrapper ul.gform_fields li.gfield .gfield_description{
	color:#6d7781;
	font-size: 12px;	
}
.gform_wrapper ul.gform_fields li.gfield label.gfield_label span.gfield_required{
	color: #fff;	
}
.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]){
	padding: 6px 12px;
}
.gform_wrapper ul.gform_fields li.gfield input[type="date"], 
.gform_wrapper ul.gform_fields li.gfield input[type="time"], 
.gform_wrapper ul.gform_fields li.gfield input[type="datetime-local"], 
.gform_wrapper ul.gform_fields li.gfield input[type="week"], 
.gform_wrapper ul.gform_fields li.gfield input[type="month"], 
.gform_wrapper ul.gform_fields li.gfield input[type="text"], 
.gform_wrapper ul.gform_fields li.gfield input[type="email"], 
.gform_wrapper ul.gform_fields li.gfield input[type="url"], 
.gform_wrapper ul.gform_fields li.gfield input[type="password"], 
.gform_wrapper ul.gform_fields li.gfield input[type="search"], 
.gform_wrapper ul.gform_fields li.gfield input[type="tel"], 
.gform_wrapper ul.gform_fields li.gfield input[type="number"],
.gform_wrapper ul.gform_fields li.gfield select, 
.gform_wrapper ul.gform_fields li.gfield textarea{
	/*border-top:0;
	border-right:0;
	border-left:0;*/
	border: 1px solid #6d7781;
    border-radius: 0;
    color: #6d7781;
    font-size: 15px;
    font-weight: 300;
    height: 42px;
    width: 100%;
	background-color: transparent;
}
.gform_wrapper ul.gform_fields li.gfield textarea{
	height: 100px;
}
div.gform_wrapper ul.gform_fields li.gfield .ginput_container.ginput_container_checkbox label,
div.gform_wrapper ul.gform_fields li.gfield .ginput_container.ginput_container_radio label{
	color: #6d7781;
	font-size:12px;	
}
div.gform_wrapper ul.gform_fields li.gfield input:[type="file"]{
	color: #6d7781;
}
div.gform_wrapper ul.gform_fields li.gfield input[type="date"]:focus, 
.gform_wrapper ul.gform_fields li.gfield input[type="time"]:focus, 
.gform_wrapper ul.gform_fields li.gfield input[type="datetime-local"]:focus, 
.gform_wrapper ul.gform_fields li.gfield input[type="week"]:focus, 
.gform_wrapper ul.gform_fields li.gfield input[type="month"]:focus, 
.gform_wrapper ul.gform_fields li.gfield input[type="text"]:focus, 
.gform_wrapper ul.gform_fields li.gfield input[type="email"]:focus, 
.gform_wrapper ul.gform_fields li.gfield input[type="url"]:focus, 
.gform_wrapper ul.gform_fields li.gfield input[type="password"]:focus, 
.gform_wrapper ul.gform_fields li.gfield input[type="search"]:focus, 
.gform_wrapper ul.gform_fields li.gfield input[type="tel"]:focus, 
.gform_wrapper ul.gform_fields li.gfield input[type="number"]:focus,
.gform_wrapper ul.gform_fields li.gfield select:focus, 
.gform_wrapper ul.gform_fields li.gfield textarea:focus{
	border-color: #fff;
	color: #fff;		
}
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, 
.gform_wrapper .field_sublabel_below div.ginput_container[class*="gfield_time_"] label{
	color: #6d7781;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
div.gform_wrapper .gform_footer{}
.gform_wrapper ul.gform_fields li.gfield table.gfield_list th{
	background-color: #6d7781;
	color: #fff;
	padding: 2px 6px;
	text-align:center;	
}
.gform_wrapper .gform_footer input.button, 
.gform_wrapper .gform_footer input[type="submit"], 
.gform_wrapper .gform_page_footer input.button, 
.gform_wrapper .gform_page_footer input[type="submit"] {
	background-color: #17ae58;
	color: #fff;
 	margin: 0 16px 20px 0;
	transition: background .7s ease-in, transform .2s ease-out;
}
.gform_wrapper .gform_footer input.button:hover, 
.gform_wrapper .gform_footer input[type="submit"]:hover, 
.gform_wrapper .gform_page_footer input.button:hover, 
.gform_wrapper .gform_page_footer input[type="submit"]:hover{	
	transform: scale(1.02) rotateX( 10deg );
	background-color:#13AA54;
}
/* gform placeholders*/
::-webkit-input-placeholder { color:#ccc; }
:-moz-placeholder { opacity: 1; color:#ccc; } /* Firefox 18- */
::-moz-placeholder { opacity: 1; color:#ccc; } /* firefox 19+ */
:-ms-input-placeholder { color:#ccc; } /* ie */
input:-moz-placeholder { color:#ccc; }

div.gform_wrapper ul.gform_fields li.gfield.gfield_error, 
div.gform_wrapper ul.gform_fields li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
	border-bottom: 1px solid #FAD160;
	border-top: 0;
	padding-bottom: 4px;
	padding-top: 0;
}