/*
Form Name: Asana
Form URI: https://github.com/uxglow/contact-form-7/blob/master/asana/1.0/asana.css
Author: UX Glow
Author URI: http://uxglow.com/
Description: __desc__
Version: 1.0
Tags: Contact Form 7, Asana
*/
.wpcf7 *, .wpcf7 *::after, .wpcf7 *::before  {
	box-sizing: border-box  !important;	
}
.wpcf7{
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
    color: #666;
    float: left;
    font-family: "Open Sans",sans-serif,Arial;
    margin: 0 0 30px;
    overflow: hidden;
    width: auto;
}
.wpcf7 .wpcf7-form {
    float: left;
    padding: 7% 6%;
    width: 100%;
}
.wpcf7 h1 {
  font-size: 24px;
  color: #666;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left;
}

.wpcf7 .wpcf7-form > p,
.wpcf7 .wpcf7-form > div:not(.wpcf7-response-output.wpcf7-display-none),
.wpcf7 .wpcf7-form > span{
	display:block;	
}
.wpcf7 .wpcf7-form > p,
.wpcf7 .wpcf7-form > div,
.wpcf7 .wpcf7-form > span{
    float:left;
    padding: 0;
    margin: 10px 0 0 0;
	width:100%;
	float:left;
}

.wpcf7 .wpcf7-form label,
.wpcf7 .wpcf7-form input[type=file]{
    text-align:left;
    color: #666;
    display: block;
    float: left;
    font-size: 14px;
    font-weight:normal;
    margin: 0 0 10px;
    padding: 0;
    width: 100%
}
.wpcf7 .wpcf7-form label,
.wpcf7 .wpcf7-form input[type=file] > span {
	float: left;
    margin-top: 4px;
    width: 100%;
}
.wpcf7 .wpcf7-form input[type=text],
.wpcf7 .wpcf7-form input[type=date],
.wpcf7 .wpcf7-form input[type=datetime],
.wpcf7 .wpcf7-form input[type=number],
.wpcf7 .wpcf7-form input[type=search],
.wpcf7 .wpcf7-form input[type=time],
.wpcf7 .wpcf7-form input[type=url],
.wpcf7 .wpcf7-form input[type=email],
.wpcf7 .wpcf7-form input[type=tel],
.wpcf7 .wpcf7-form textarea,
.wpcf7 .wpcf7-form select{
    display: block;
	border: 1px solid #ccc;
	border-radius: 3px;
    box-sizing: border-box;
	font-size: 14px;
	line-height: 18px;
    float: left;
    height: 40px;
    margin: 0 0 6px;
    outline: medium none;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
	color: #2c3e50;
}
.wpcf7 .wpcf7-form input[type=text]:focus,
.wpcf7 .wpcf7-form input[type=date]:focus,
.wpcf7 .wpcf7-form input[type=datetime]:focus,
.wpcf7 .wpcf7-form input[type=number]:focus,
.wpcf7 .wpcf7-form input[type=search]:focus,
.wpcf7 .wpcf7-form input[type=time]:focus,
.wpcf7 .wpcf7-form input[type=url]:focus,
.wpcf7 .wpcf7-form input[type=email]:focus,
.wpcf7 .wpcf7-form input[type=tel]:focus,
.wpcf7 .wpcf7-form textarea:focus,
.wpcf7 .wpcf7-form select:focus{
	color: #2c3e50;
	border: 1px solid #27ae60;
}
.wpcf7 .wpcf7-form .field-divided{
    width: 49%;
}

.wpcf7 .wpcf7-form .wpcf7-form-control{
    width: 100%;
}
.wpcf7 .wpcf7-form .wpcf7-textarea{
    height: 100px;
}
.wpcf7 .wpcf7-form input[type=submit], 
.wpcf7 .wpcf7-form input[type=button]{
    display:block;
    margin-top: 10px;
    background: #27ae60;
    border: medium none;
	border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
	width:120px;
    text-transform: uppercase;
	font-family:Arial, Helvetica, sans-serif;
	opacity: 1;
}
.wpcf7 .wpcf7-form input[type=submit]:hover, 
.wpcf7 .wpcf7-form input[type=button]:hover,
.wpcf7 .wpcf7-form input[type=submit]:focus, 
.wpcf7 .wpcf7-form input[type=button]:focus{
    background: #27ae60;
    box-shadow:0 0 0 2px white, 0 0 0 3px #27ae60;
    -moz-box-shadow:0 0 0 2px white, 0 0 0 3px #27ae60;
    -webkit-box-shadow:0 0 0 2px white, 0 0 0 3px #27ae60;
	color: #fff;
}
.wpcf7 .wpcf7-form .required{
    color:red;
}
.wpcf7 .wpcf7-form .wpcf7-response-output{
	background-color:#B1531F;
	color:#fff;
	margin:30px 0 0 0;
	padding: 7px 1%;
	font-size:12px;
	text-align:center;
	width: 98%;
	float:left;
}
.wpcf7 .wpcf7-form .wpcf7-not-valid-tip{
	color:#aa4848;
	font-size:12px;
	font-weight:normal;
}
.wpcf7 .screen-reader-response{
	display:none;
}
.wpcf7 .wpcf7-form .wpcf7-mail-sent-ok {
	border:none;
	background-color: #398f14;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-mail-sent-ng {
	border: none;
	background-color: #CD0000;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-spam-blocked {
	border: none;
	background-color: #ffa500;
	color: #fff;
}

.wpcf7 .wpcf7-form .wpcf7-validation-errors {
	border: none;
	background-color: #f7e700;
	color: #333;
}

.wpcf7-form-control-wrap {
	position: relative;
}
