/*
Form Name: Announcement
Form URI: https://github.com/uxglow/gravity-forms/blob/master/announcement/1.0/announcement.css
Author: UX Glow
Author URI: http://uxglow.com/
Description: __desc__
Version: 1.0
Tags: Gravity Forms, Announcement
*/





